.Navbar{
  background-color: aqua;
  width: 100%;
  height:fit-content;
  display: flex;
  
}
.inputs{
  display: flex;
  justify-content: space-between;
  background-color: brown;
  width: 40%;
  margin-left: 10%;
}
.inputs li{
  list-style: none;
  font-size: 14px;
  margin: 6px;
  
}
.logo{
  width: fit-content;
}
.login{
 margin-left: 25%;  

}
@media only screen and (max-width: 768px) {
  .inputs{
    display: none;
  }
  .Navbar{
    justify-content: space-between;
  }
  }